[submodule "libsodium-jni"]
	path = libsodium-jni
	url = https://github.com/joshjdevl/libsodium-jni
[submodule "jvm-toxcore-c"]
	path = jvm-toxcore-c
	url = https://github.com/TokTok/jvm-toxcore-c
[submodule "jvm-toxcore-api"]
	path = jvm-toxcore-api
	url = https://github.com/TokTok/jvm-toxcore-api
