<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.tox.antox"
    android:versionCode="13"
    android:versionName="0.7.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_actionbar"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:hardwareAccelerated="false">

        <service
            android:name=".tox.ToxService"
            android:exported="false" />

        <service
            android:name=".tox.ToxDoService"
            android:exported="false" />

        <activity
            android:name="im.tox.antox.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="im.tox.antox.activities.SettingsActivity"
            android:label="@string/title_activity_settings"

            android:parentActivityName="im.tox.antox.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.activities.MainActivity" />
        </activity>
        <activity
            android:name="im.tox.antox.activities.ProfileActivity"
            android:label="@string/title_activity_profile"

            android:parentActivityName="im.tox.antox.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.activities.MainActivity" />
        </activity>
        <activity
            android:name="im.tox.antox.activities.AboutActivity"
            android:label="@string/title_activity_about"

            android:parentActivityName="im.tox.antox.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.activities.MainActivity" />
        </activity>
        <activity
            android:name="im.tox.antox.activities.WelcomeActivity"

            android:label="@string/title_activity_welcome">
            <!--android:parentActivityName="im.tox.antox.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.MainActivity"/>-->
        </activity>
        <activity
            android:name="im.tox.antox.activities.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName="im.tox.antox.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.activities.MainActivity" />

            <!--  Intent filter for handling tox:// links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tox" />
            </intent-filter>
        </activity>
        <activity
            android:name="im.tox.antox.activities.FriendProfileActivity"
            android:label="@string/title_activity_friend_profile"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="im.tox.antox.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.tox.antox.activities.MainActivity" />
        </activity>


    </application>

</manifest>
